storage
INSTALL.txt
LICENSE.txt
README.txt
.vagrant
demos/
extras/documentation
nbproject
.DS_Store
vendor/*
app/config/env/local.php
app/tests/log/
app/tests/phpunit-debug
data/log/*
app/tests/log

logs/access.log

logs/error.log

scripts/sftw.php
scripts/phpunit
scripts/behat
build/logs/
data/build

