storage
INSTALL.txt
LICENSE.txt
README.txt
.vagrant
demos/
extras/documentation
nbproject
.DS_Store
vendor/*
app/config/env/local.php
app/tests/log/
app/tests/phpunit-debug
data/log/*
app/tests/log

logs/access.log

logs/error.log

scripts/sftw.php
scripts/phpunit
scripts/behat
build/logs/
data/build

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea